excavator/obj/
excavator.coreEngine/obj/
excavator/bin/
packages/
excavator.coreEngine/bin/Debug/excavator.coreEngine.pdb
excavator.coreEngine/bin/Debug/excavator.coreEngine.dll
excavator.coreEngine/bin/
